<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer form</title>
</head>
<body>
    <form action="" method="post">
        {%csrf_token %}
        {{form}}
        <input type="submit">
    </form>
</body>
</html>